<h1>Directory Structur!</h1>
<%= form_with scope: :dir_strs, url: dir_strs_path, local: true do |form| %>

<% if @dir_strs.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@dir_strs.errors.count, "error") %> prohibited
      this Directory from being saved:
    </h2>
    <ul>
      <% @dir_strs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :parent_dir %><br>
    <%= form.text_field :parent_dir %>
  </p>

  <p>
    <%= form.label :owner %><br>
    <%= form.text_field :owner %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', dir_strs_path %>
